
	* {font-family: 'Roboto', sans-serif;
	}
	
	.carousel-item img {
		width:100%;
		height: 65%;
	}
	.carousel-item {
		flex-direction: column;
		background-color: black;
	}
	.cs1text {
		color:white;
		text-align: center;
		height: 80vh;
	}
	.carousel-indicators {
		top:200px;
	}
	/*.carousel-inner {
	   margin-bottom:50px;
	}*/
	/*.carousel-indicators-numbers {
	    li {
	      text-indent: 0;
	      margin: 0 2px;
	      width: 30px;
	      height: 30px;
	      border: none;
	      border-radius: 100%;
	      line-height: 30px;
	      color: #fff;
	      background-color: #999;
	      transition: all 0.25s ease;
	      &.active, &:hover {
	        margin: 0 2px;
	        width: 30px;
	        height: 30px;
	        background-color: #337ab7;        
	      }
	    }
	}*/
	.btn-primary {
		background-color: #ffba00;
		color: black;
		display: block;
		margin: 0 auto;
		margin-bottom: 10px;
	}
	.btn-secondary {
		background-color: #636363;
		color: white;
		display: block;
		margin: 0 auto;
		
	}
	.navbar-brand {
		font-weight: bold;
	}
	
	/* for tablet view port */
	@media (max-width: 700px) {
		#card4block {
			display:inline-block;
			width:1300px;
			overflow-x: auto;
			/*border: solid 2px red;*/
			white-space: nowrap;
		}
	
		#card4block .card {
			width:700px;
			display:inline-block;
		}
	}

	/* reset for mobile again */
	@media (max-width: 550px) {
		#card4block {
			display:block;
			width:100%;
			overflow-x: visible;
			/*border: solid 2px blue;*/
			white-space: normal;
		}
	
		#card4block .card {
			width: 100%;
			display:block;
		}
	}
	#jeepvehicles {
		text-align: center;
	}
	#card8block .card {
		flex-direction: row;
		width: 450px;
		display:inline-block;
	}
	.imgcontent {
		float: left;
		width: 200px;
		display: inline-block;
	}
	.imgcontent img {
		width: 100%;
	}
	.textcontent {
		width: 200px;
		display: inline-block;
	}
	
	#card8block h5 {
		padding: 0px;
		font-size: 14px;
		font-weight: bold;
		line-height: 14px;
	}
	#card8block p {
		font-size: 8px;
		padding: 0px;
		line-height: 4px;
		margin: 2px;
	}
	#card8black .price {
		line-height: 7px;
		padding: 0px;
		margin: 0px;
	}
	#kbb {
		background-color: lightgrey;
		text-align: center;
	}
	#kbb h3 {
		font-weight: bold;
	}
	#kbb div {
		width: 80%;
		margin: 0 auto;
	}
	.disclosures {
		height: 60px;
		width: 100%;
		background-color: black;
		padding: 10px;
	}
	#disclosures_btn {
		text-decoration: underline;
		font-size: 10px;
	}
	.search {

		height:160px;
		background-color: #212121;
		width: 100%;
		padding: 20px;
		color: white;
		
	}
	#accordion {
		font-size: 12px;
	}
	.footer .card-header, .footer .card-block {
		background-color: black;
		color:white;

	}

